{% extends 'base.html' %}

{% block content %}
    <div id="offers">

        {% for offer in offers %}
            <div class="offer" data-id="{{ offer.id }}">
            <a href="{% url 'offer_details' offer.id %}">
            <img class="pizza-img" src="{{ offer.imgLink }}">
            <h2 class="offer-name">{{ offer.name }}</h2>
                <hr class="offer-line">
                <p class="offer-price">${{ offer.price | floatformat }}</p>
            </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}