{% extends 'base.html' %}
{% block content %}
    <div id="offerinfo">
    <h1 class="offer-dname">{{ offer.name }}</h1>
    <hr class="offer-line">
    <p class="offer-desc">{{ offer.desc }}</p>
    <hr class="offer-line">
    <form id="offer" method="post" action="{% url 'offer_details' offer.id %}">
    {% csrf_token %}
    {% for i in pizza_amount %}
        <h2>Select Pizza {{ i }}</h2>
        <select style="width: 150px" name="pizzas" id="pizzas">
            {% for pizza in pizzas %}
                <option value="{{ pizza.prod.id }}">{{ pizza.prod.name }}</option>
            {% endfor %}
        </select>
    {% endfor %}
    {% for j in sides_amount %}
        <h2>Select sides {{ j }}</h2>
        <select style="width: 150px" name="sides" id="sides">
            {% for side in sides %}
                <option value="{{ side.prod.id }}">{{ side.prod.name }}</option>
            {% endfor %}
        </select>
    {% endfor %}
    {% for k in drinks_amount %}
        <h2>Select drink {{ k }}</h2>
        <select style="width: 150px" name="drinks" id="drinks">
            {% for drink in drinks %}
                <option value="{{ drink.prod.id }}">{{ drink.prod.name }}</option>
            {% endfor %}
        </select>
    {% endfor %}
    <button type="submit" value="Submit">Add to Cart</button>
    </form>
    </div>
{% endblock %}

