.cart {
    width: 60%;
    margin: auto;
    padding: 1rem;
}

.cart-item {
    display: flex;
    margin: 0.5rem;
    font-size: 1.2rem;
}
.cart-item p {
    margin: 0 0.5em;
}

.cart-del-btn {
    height: 20px;
    width: 20px;
}