.cart {
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
}

.cart-header {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}

.cart-item {
    padding: 1.5rem;
    background: whitesmoke;
    display: flex;
    margin: 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}
.cart-item p {
    margin: 0 0.5em;
}

.cart-item-offer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cart-offer-wrapper {
    padding: 1.5rem;
    background: whitesmoke;
    font-size: 1.2rem;
    border-radius: 10px;
    margin: 0.5rem;
}

.cart-offer-details {
    display: none;
    font-size: 0.9rem;
    margin: 0.6rem;
}

.cart-offer-list {
    margin: 6px;
}


.expand-details {
    background: whitesmoke;
    padding: 5px 10px;
    border: none;
}
.expand-details:hover, .active {
    background: white;
}


.product-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-minus, .product-plus {
    font-size: 1.5rem;
    width: 20px;
    border: none;
    background: none;
}


.product-minus:hover {
    color: red;
}
.product-plus:hover {
    color: green;
}

.product-count {
    border: 2px solid black;
    width: 30px;
    height: 26px;
    margin: 0 5px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-price-container {
    display: flex;
}

.product-price-container > p {
    margin-left: 0;
}



.cart-del-btn {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}


.cart-footer {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.cart-total {
    font-size: 1.2rem;
}


#clear-cart-btn {
    height: 2rem;
    width: 4rem;
    padding: 6px;
    border-radius: 10px;
}

#payment {
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    width: 190px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
    border: 1px solid gray;
}

#checkout {
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
    border: 1px solid gray;
}

#review {
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid black;
    background: whitesmoke;
    text-align: center;
}

#review p {
    font-size: 1.1rem;
}

.review-header {
    text-align: center;
    margin: 1rem;
}

h1.Confirmation-header {
    padding-left: 33%;
}

h2.Confirmation-text {
    padding-left: 33%;
    padding-top: 10%;
}