.home-image {
    height: 30rem;
}
.home-wrapper {
    width: fit-content;
    margin: auto;
}

.home-header {
    text-align: center;
    margin: 1rem 0;
}

.todaysPizza {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}