a {
    text-decoration: none;
    color: black !important;
}

.logo {
    width: 50px;
    height: 50px;
}


#navbar {
    display: grid;
    padding-top: 10px;
    grid-template-columns: 30% 40% 30%;
}


#nav-left {
    font-size: 1.5rem;
    margin: auto 0;
}


#nav-left > a {
    margin: 1rem;
}


#nav-center {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}


#nav-right {
    font-size: 1.5rem;
    margin: auto 0;
    text-align: right;
}


.nav-icon {
    width: 50px;
    height: 50px;
    margin: 0 0.8rem;
}

.cart {
    background-color: grey;
    border: solid 2px rgba(155, 155, 155, .5);
}

.profile {
    background-color: grey;
    border: solid 2px rgba(155, 155, 155, .5);
}