.product-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    margin: 2rem auto;
    gap: 2rem;
}

.product-name {
    height: 60px;
    margin: auto;
}


.product-line {
    width: 80%;
    margin: 0.5em auto;
}

.product-price {
    font-size: 1.3rem;
    margin: auto;
}

.product-img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.product {
    display: flex;
    flex-flow: column;
    text-align: center;
    background: whitesmoke;
    height: 300px;
    min-width: 200px;
    border: 1px solid grey;
    border-radius: 6%;
    transition: 0.1s ease-in;
}


.product:hover {
    border-color: #DF2E38;
    box-shadow: 2px 1px 3px #DF2E38;
}

.filter {
    display: none;
    height: 20px;
    width: 50px;
    background: red;
}
.filter-label {
    padding: 7px 14px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    margin: 0 0.4rem;
}

input[name="category"]:checked + label, .filter-label:hover {
    border-color: rgba(255,0,0,1);
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px red;
}


#pizza-filters label, #pizza-orderby {
    cursor: pointer;
}

#filter-container {
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

#filter-container > div {
    margin: auto;
}

#pizza-filters {
    display: flex;
    flex-flow: row nowrap;
}


#pizza-orderby {
    display: flex;
    justify-content: center;
    align-items: center;
}


#pizza-orderby-selector {
    margin-left: 5px;
    padding: 2px 4px;
}

#pizza-search {
    display: flex;

}

#pizza-search-input {
    margin: 0 0.8rem;
    padding: 0.2rem;
    width: 12rem;
}

#pizza-search-btn {
    padding: 0.4rem 0.9rem;
    border-radius: 8px;
    cursor: pointer;
}


#pizza-search-btn:hover {
    border-color: red;
    box-shadow: 1px 1px 3px red;
}


.orderdir:checked + .orderdir-label{
    color: red;
}

.orderdir {
    display: none;
}

.orderdir-label {
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 3px;
}

/* Might remove */
a {
    text-decoration: none;
}


#menu-nav {
    position: sticky;
    top: 4rem;
    display: flex;
    background: white;
    padding: 1em;
    border-bottom: 1px solid grey;
    font-size: 1.3rem;
    flex-flow: row;
}


#menu-nav > a {
    margin: 0 3rem 0 0;
}


/* Sides */
#sides {
    display: grid;
    width: 60%;
    margin: 2rem auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.sides-header, .pizza-header {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
}


.side {
    background: whitesmoke;
    border: 1px solid grey;
    min-width: 200px;
    height: 300px;
    text-align: center;
}

.side-name {
    margin-top: 5px;
    height: 60px;
}

.side-img {
    margin-top: 1em;
    width: 150px;
    height: 150px;
}


.side-line {
    width: 80%;
    margin: 1em auto;
}

.side-price {
    font-size: 1.3rem;
    margin: auto;
}


/* Drinks */

#drinks {
    display: grid;
    width: 60%;
    margin: 2rem auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.drink-header {
    text-align: center;
    font-size: 3rem
}


.drink {
    background: whitesmoke;
    border: 1px solid grey;
    height: 300px;
    min-width: 200px;
    text-align: center;
}


.drink-name {
    height: 60px;
}

.drink-img {
    margin-top: 1em;
    width: 150px;
    height: 150px;
}


.drink-line {
    width: 80%;
    margin: 1em auto;
}

.drink-price {
    font-size: 1.3rem;
    margin: auto;
}

.product-details{
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2%;
    border: 1px solid gray;
}


#pizza-categories {
}