#pizzas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    margin: 2rem auto;
}

.pizza-name {
    margin-top: 40px;
}

.pizza-img {
    margin: 10px;
}

.pizza {
    display: flex;
    flex-flow: column;
    margin: 1em;
    text-align: center;
    background: whitesmoke;
    height: 300px;
    border: 1px solid grey;
}


/* Might remove */
a {
    text-decoration: none;
}


#menu-nav {
    display: flex;
    padding: 1em;
    border-bottom: 1px solid grey;
    font-size: 1.3rem;
    flex-flow: row;
}


#menu-nav > a {
    margin: 0 3rem 0 0;
}


/* Sides */
#sides {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.sides-header {
    text-align: center;
    font-size: 3rem
}


.side {
    background: whitesmoke;
    border: 1px solid grey;
    width: 250px;
    height: 300px;
    text-align: center;
}


.side-img {
    width: 150px;
    height: 150px;
}


.side-line {
    width: 90%;
    margin: 1em auto;
}

.side-price {
    font-size: 1.5rem;
    margin: auto;
}


/* Drinks */

#drinks {
    display: grid;
    width: 60%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.drink-header {
    text-align: center;
    font-size: 3rem
}


.drink {
    background: whitesmoke;
    border: 1px solid grey;
    width: 250px;
    height: 300px;
    text-align: center;
}


.drink-img {
    width: 150px;
    height: 150px;
}


.drink-line {
    width: 90%;
    margin: 1em auto;
}

.drink-price {
    font-size: 1.5rem;
    margin: auto;
}