#pizzas {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    margin: 2rem auto;
    gap: 2rem;
}

.pizza-name {
    height: 60px;
    margin: auto;
}


.pizza-line {
    width: 80%;
    margin: 0.5em auto;
}

.pizza-price {
    font-size: 1.3rem;
    margin: auto;
}

.pizza-img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.pizza {
    display: flex;
    flex-flow: column;
    text-align: center;
    background: whitesmoke;
    height: 300px;
    min-width: 200px;
    border: 1px solid grey;
}


.filter {
    height: 20px;
    width: 50px;
    background: red;
}

input[name="category"]:checked + label {
    background: red;
}


#pizza-filters label, #pizza-orderby {
    cursor: pointer;

}

#filter-container {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-around;
}

#pizza-filters {
    display: flex;
    flex-flow: row nowrap;
}

.orderdir {
    opacity: 0.011;
}
.orderdir-label {
    cursor: pointer;
}

/* Might remove */
a {
    text-decoration: none;
}


#menu-nav {
    display: flex;
    padding: 1em;
    border-bottom: 1px solid grey;
    font-size: 1.3rem;
    flex-flow: row;
}


#menu-nav > a {
    margin: 0 3rem 0 0;
}


/* Sides */
#sides {
    display: grid;
    width: 60%;
    margin: 2rem auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.sides-header, .pizza-header {
    text-align: center;
    font-size: 3rem
}


.side {
    background: whitesmoke;
    border: 1px solid grey;
    min-width: 200px;
    height: 300px;
    text-align: center;
}

.side-name {
    margin-top: 5px;
    height: 60px;
}

.side-img {
    margin-top: 1em;
    width: 150px;
    height: 150px;
}


.side-line {
    width: 80%;
    margin: 1em auto;
}

.side-price {
    font-size: 1.3rem;
    margin: auto;
}


/* Drinks */

#drinks {
    display: grid;
    width: 60%;
    margin: 2rem auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.drink-header {
    text-align: center;
    font-size: 3rem
}


.drink {
    background: whitesmoke;
    border: 1px solid grey;
    height: 300px;
    min-width: 200px;
    text-align: center;
}


.drink-name {
    height: 60px;
}

.drink-img {
    margin-top: 1em;
    width: 150px;
    height: 150px;
}


.drink-line {
    width: 80%;
    margin: 1em auto;
}

.drink-price {
    font-size: 1.3rem;
    margin: auto;
}