


.offer-header {
    text-align: center;
    margin-top: 1rem;
}



#offers {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 60%;
    margin: 2rem auto;
}

.offer {
    display: flex;
    flex-flow: column;
    margin: 1em;
    text-align: center;
    background: whitesmoke;
    height: 300px;
    border: 1px solid grey;
    border-radius: 5px;

}

.offer-name {
    margin: auto;
    height: 60px;

}

.offer-line {
    width: 80%;
    margin: 1em auto;
}
.offer-price {
    font-size: 1.3rem;
}

.offer-total {
    margin: auto;
}


#offerinfo {
    margin-top: 1rem;
    align-self: center;
    padding: 10px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: whitesmoke;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
    width: 45%;
    vertical-align: top;
}

.offer-dname {
    font-style: oblique;
    margin: 1.5rem;
}
.offer-desc {
    margin: 1rem;
}

#offer {

}
.offer_select{
    width: 150px;
    margin: 28px;
}
