body{
    background-color: white;
}

.profile {
    background: linear-gradient(120deg,yellow, red);
    border: solid 2px rgba(155, 155, 155, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.profile form{
    padding: 0 40px;
    box-sizing: border-box;
}

a.register {
    color: blue !important;
    text-decoration: underline;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid black;
    margin: 30px 0;

}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    height: auto;
    top: 50%;
    left: 5px;
    color: black;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}


#login {
    margin-top: 1rem;
    align-self: center;
    padding: 10px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: whitesmoke;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
    width: 25%;
    vertical-align: top;
}

#profileid {
    margin-top: 1rem;
    align-self: center;
    padding: 10px;
    flex-flow: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: whitesmoke;
    height: auto;
    border: 1px solid grey;
    border-radius: 5px;
    width: 30%;
    vertical-align: top;
}

.form-control {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: flex;
}

input#id_password {
    width: 100%;
}

input#id_username {
    width: 100%;
}

input#id_password1 {
    width: 100%;
}

h1.register-header {
    text-align: center;
    margin: 3rem;
}
