{% extends 'base.html' %}

{% block content %}
    {% include 'menu/menunavbar.html' %}
    <h1 class="drink-header">Drinks</h1>
    <div id="drinks">
    {% for drink in drinks %}
        <div class="drink">
        <a href="drinks/{{ drink.prod.id }}">
            <img src="{{ drink.prod.imgLink }}" class="drink-img">
            <h2>{{ drink.prod.name }}</h2>
            <hr class="drink-line">
            <p class="drink-price">${{ drink.prod.price | floatformat }}</p>
        </a>
            </div>
    {% endfor %}
    </div>
{% endblock %}