{% extends 'base.html' %}
{% block head %}
    <title>{{ pizza.prod.name }}</title>
{% endblock %}
{% block content %}
    <img alt="Picture of a pizza" width="300px" height="300px" src="{{ pizza.prod.imgLink }}">
    <div id="pizza-categories">
    <h3>Categories:</h3>
    <ul>
    {% for cat in pizza.category.all %}
        <li>{{ cat.name }}</li>
    {% endfor %}
    </ul>
    </div>
    <h1>{{ pizza.prod.name }}</h1> <p>${{ pizza.prod.price | floatformat }}</p>
    <p>{{ pizza.prod.desc }}</p>
    <h2>Ingredients</h2>
    <ul>
    {% for topping in pizza.toppings.all %}
        <li>{{ topping.name }}</li>
    {% endfor %}
    </ul>
    {% csrf_token %}
    <button onclick="addToCart({{ pizza.prod.id }})">Add to Cart</button>
{% endblock %}