{% extends 'base.html' %}

{% block content %}
    {% include 'menu/menunavbar.html' %}
    <h1 class="pizza-header">Pizzas</h1>
    <div id="filter-container">
        <div id="pizza-orderby">
            <label for="pizza-orderby-selector">Order by: </label>
            <select id="pizza-orderby-selector">
                <option class="orderby-option" selected>Name</option>
                <option class="orderby-option">Price</option>
            </select>
            <input class="orderdir" type="radio" name="orderdir" id="asc" value="ascending" checked>
            <label class="orderdir-label" for="asc">&#8593;</label>
            <input class="orderdir" type="radio" name="orderdir" id="desc" value="descending">
            <label class="orderdir-label" for="desc">&#8595;</label>

        </div>
        <div id="pizza-search">
{#            <label for="pizza-search-input">Search: </label>#}
            <input type="search" id="pizza-search-input" placeholder="Your search here..">
            <button type="button" id="pizza-search-btn">Search</button>
        </div>
        <div id="pizza-filters">
            <input checked class="filter" id="filter-any" type="radio" name="category" value="Any">
            <label class="filter-label" for="filter-any">Any</label>
            <input class="filter" id="filter-new" type="radio" name="category" value="New">
            <label class="filter-label" for="filter-new">New</label>
            <input class="filter" id="filter-spicy" type="radio" name="category" value="Spicy">
            <label class="filter-label" for="filter-spicy">Spicy</label>
            <input class="filter" id="filter-vegan" type="radio" name="category" value="Vegan">
            <label class="filter-label" for="filter-vegan">Vegan</label>
            <input class="filter" id="filter-vegetarian" type="radio" name="category" value="Vegetarian">
            <label class="filter-label" for="filter-vegetarian">Vegetarian</label>
        </div>
    </div>
    <div class="product-wrapper" id="pizzas">
        {% for pizza in pizzas %}
            {% include 'single_product.html' with product=pizza %}
        {% endfor %}

    </div>
{% endblock %}