{% extends 'base.html' %}

{% block content %}
    {% include 'menu/menunavbar.html' %}
    <h1 class="pizza-header">Pizzas</h1>
    <div id="filter-container">
        <div id="pizza-orderby">
            <label for="pizza-orderby-selector">Order by: </label>
            <select id="pizza-orderby-selector">
                <option selected>Name</option>
                <option>Price</option>
            </select>
            <input class="orderdir" type="radio" name="orderdir" id="asc" value="ascending" checked>
            <label class="orderdir-label" for="asc">&#8593;</label>
            <input class="orderdir" type="radio" name="orderdir" id="descending" value="descending">
            <label class="orderdir-label" for="asc">&#8595;</label>

        </div>
        <div id="pizza-search">
            <label for="pizza-search-input">Search: </label>
            <input type="search" id="pizza-search-input">
            <button type="button" id="pizza-search-btn">Search</button>
        </div>
        <div id="pizza-filters">
            <span>Filter</span>
            <input class="filter" id="filter-new" type="radio" name="category" value="New">
            <label class="filter-label" for="filter-new">New</label>
            <input class="filter" id="filter-spicy" type="radio" name="category" value="Spicy">
            <label class="filter-label" for="filter-spicy">Spicy</label>
            <input class="filter" id="filter-vegan" type="radio" name="category" value="Vegan">
            <label class="filter-label" for="filter-vegan">Vegan</label>
            <input class="filter" id="filter-vegetarian" type="radio" name="category" value="Vegetarian">
            <label class="filter-label" for="filter-vegetarian">Vegetarian</label>
        </div>
    </div>
    <div id="pizzas">
        {% for pizza in pizzas %}
            <div class="pizza" data-id="{{ pizza.prod.id }}">
                <a href="/menu/pizzas/{{ pizza.prod.id }}">
                <img class="pizza-img" src="{{ pizza.prod.imgLink }}">
                <h2 class="pizza-name">{{ pizza.prod.name }}</h2>
                <hr class="pizza-line">
                <p class="pizza-price">${{ pizza.prod.price | floatformat }}</p>
            </a>
            </div>
        {% endfor %}

    </div>
{% endblock %}