{% extends 'base.html' %}
{% block head %}
    <title>{{ pizza.prod.name }}</title>
{% endblock %}
{% block content %}
    <img width="300px" height="300px" src="{{ pizza.prod.imgLink }}">
    <h1>{{ pizza.prod.name }}</h1> <p>${{ pizza.prod.price | floatformat }}</p>
    <p>{{ pizza.prod.desc }}</p>
    <h2>Ingredients</h2>
    <ul>
    {% for topping in pizza.toppings.all %}
        <li>{{ topping.name }}</li>
    {% endfor %}
    </ul>
    {% csrf_token %}
    <button onclick="addToCart({{ pizza.prod.id }})">Add to Cart</button>
{% endblock %}