{% extends 'base.html' %}

{% block content %}
    {% include 'menu/menunavbar.html' %}
    <h1 class="sides-header">Sides</h1>
    <div id="sides">
        {% for side in sides %}
            <div class="side">
            <a href="sides/{{ side.prod.id }}">
                <h2>{{ side.prod.name }}</h2>
                <img src="{{ side.prod.imgLink }}" class="side-img">
                <hr class="side-line">
                <p class="side-price">${{ side.prod.price | floatformat }}</p>
            </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}