{% extends 'base.html' %}
{% block content %}
    <div class = "profile">
        <h2>Welcome to my profile</h2>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <input type="text" placeholder="Enter Email" name="uEmail" required>

        <input type="text" placeholder="Enter Zip" name="uZip" required>

        <input type="text" placeholder="Enter City" name="uCity" required>

        <input type="text" placeholder="Enter Country" name="uCity" required>

        <input type="text" placeholder="Enter Street" name="uStreet" required>

        <input type="text" placeholder="Enter House number" name="uHouseNumber" required>
    </div>
{% endblock %}