{% extends 'base.html' %}
{% block content %}
    {% load static %}
        <h2 class="cart-header">Cart</h2>
    <div class="cart">
        <div class="cart-items">
            {% csrf_token %}
            {% if not cart %}
                <h3>Cart is empty</h3>
            {% else %}
                {% for product in cart %}
                    {% if product.type == "Product" %}
                    <div class="cart-item" data-id="{{ product.id }}" data-prodid="{{ product.prod_id }}">
                        <p>{{ product.item.name }}</p>
                        <div class="product-price-container">
                            $<p class="product-single-price">{{ product.price | floatformat }}</p>
                        </div>
                        <div class="product-counter">
                            <button onclick="incrementItem('-', {{ product.id }}, {{ product.prod_id }})" class="product-minus">-</button>
                            <div class="product-count">{{ product.count }}</div>
                            <button onclick="incrementItem('+', {{ product.id }}, {{ product.prod_id }})" class="product-plus">+</button>
                        </div>
                        <div class="product-price-container">
                            $<p class="product-total-price">{{ product.total_price | floatformat }}</p>
                        </div>
                        <img onclick="deleteItem({{ product.id }})" alt="delete item button" class="cart-del-btn" src="{% static '/images/trashcan.svg' %}">
                    </div>
                    {% elif product.type == "Offer" %}
                    <div class="cart-offer-wrapper">
                        <div class="cart-item-offer" data-id="{{ product.id }}">
                            <p>{{ product.name }}</p>
                            <button class="expand-details">Details ▼</button>
                            <p>${{ product.price | floatformat }}</p>
                        <img onclick="deleteItem({{ product.id }})" alt="delete item button" class="cart-del-btn" src="{% static '/images/trashcan.svg' %}">
                        </div>
                    <div class="cart-offer-details">
                            <div class="cart-offer-list">
                                {% for pizza in product.pizzas %}
                                {{ pizza.prod.name }}
                                {% endfor %}
                            </div>
                            <div class="cart-offer-list">
                                {% for side in product.sides %}
                                {{ side.prod.name }}
                                {% endfor %}
                            </div>
                            <div class="cart-offer-list">
                                {% for drink in product.drinks %}
                                {{ drink.prod.name }}
                                {% endfor %}
                            </div>
                    </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <div class="cart-footer">
                    <div>
                    <button type="button" id="clear-cart-btn">Clear</button>
                    <a href="{% url 'checkout'%}">
                <button type="button" id="checkout-cart-btn">Checkout</button>
                </a>
                </div>
                <div class="cart-total">
                    Total: $<span class="cart-total-price">{{ cart_price | floatformat }}</span>
                </div>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}