{% extends 'base.html' %}
{% block content %}
    <div class="cart">
        <h2>Welcome to my cart</h2>
    <div class="cart-items">
    {% if not cart %}
        <h3>Cart is empty</h3>
    {% else %}
        {% for product in cart %}
            <div class="cart-item">
                <p>{{ product.item.name }}</p>
                <p>- {{ product.count }} +</p>

            </div>
        {% endfor %}
    {% endif %}
    </div>
    <button type="button" id="clear-cart-btn">Clear</button>
    </div>
{% endblock %}