{% extends 'base.html' %}
{% block content %}
    {% load static %}
        <h2 class="cart-header">Cart</h2>
    <div class="cart">
    <div class="cart-items">
    {% csrf_token %}
    {% if not cart %}
        <h3>Cart is empty</h3>
    {% else %}
        {% for product in cart %}
            <div class="cart-item" data-id="{{ product.id }}" data-prodid="{{ product.prod_id }}">
                <p>{{ product.item.name }}</p>
                <div class="product-counter">
                    <button onclick="incrementItem('-', {{ product.id }}, {{ product.prod_id }})" class="product-minus">-</button>
                    <div class="product-count">{{ product.count }}</div>
                    <button onclick="incrementItem('+', {{ product.id }}, {{ product.prod_id }})" class="product-plus">+</button>
                </div>
                <img onclick="deleteItem({{ product.id }})" alt="delete item button" class="cart-del-btn" src="{% static '/images/trashcan.svg' %}">
            </div>
        {% endfor %}
    {% endif %}
    </div>
    <button type="button" id="clear-cart-btn">Clear</button>
    <button type="button" id="checkout-cart-btn">Checkout</button>
    </div>
{% endblock %}