{% extends 'base.html' %}

{% block content %}
    <h1 class="review-header">Review and confirm your order</h1>
    <div id="review">

    <form method="post">
        {% csrf_token %}
        <div class="review-container">

            <div class="personal-information">
                <h2>Personal Information</h2>
                <p>Name: {{ profile.name }}</p>
                <p>Country: {{ profile.country.name }}</p>
                <p>City: {{ profile.city }}</p>
                <p>ZIP: {{ profile.zip }}</p>
                <p>Street: {{ profile.street }} {{ profile.house_number }}</p>
            </div>

            <div class="payment-information">
                <h2>Payment Information</h2>
                <p>Card number ending with {{ card_info.card_num }}</p>
            </div>

            <div class="order-information">
                <h2>Order Information</h2>

            {% for item in cart_list %}
                {{ item.name }}
            {% endfor %}
            </div>
        </div>

    <a href="{% url 'payment' %}">
    <button type="button">Back</button>
    </a>
    <a  href="{% url 'confirmation' %}">
        <button type="button" id="clear-cart-btn">Confirm</button>
    </a>
    </form>
</div>
{% endblock %}
