{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     {% block head %}
    <title>Pizza Lair</title>
    {% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/menu.css' %}">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/offers.css' %}">
    <link rel="stylesheet" href="{% static '/css/cart.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">

</head>
<body>
<div class="page-container">
    {% include 'header.html' %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    {% include 'footer.html' %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js"></script>
<script src="{% static 'js/cart.js' %}" defer></script>
<script src="{% static 'js/pizza.js' %}" defer></script>
<script src="{% static 'js/offer.js' %}" defer></script>
</body>
</html>