<header>
    <nav id="navbar">
        <div id="nav-left">
            <a href="/offers">Offers</a>
            <a href="/menu">Menu</a>
        </div>
        <div id="nav-center">
            <p>Pizza Lair</p>
        </div>
        <div id="nav-right">
            <a href="/cart/">
                <img src="/static/images/shoppingcart.svg" class="nav-icon cart-icon">
            </a>
            <a href="/profile/">
                <img src="/static/images/profile.svg" class="nav-icon profile-icon">
            </a>
        </div>
    </nav>
</header>