<header>
    <nav id="navbar">
        <div id="nav-left">
            <a href="/offers">Offers</a>
            <a href="/menu/pizzas">Menu</a>
        </div>
        <div id="nav-center">
            <a href="/">Pizza Lair</a>
        </div>
        {% if user.is_authenticated %}
            <div class="nav-right">
                <a href="/cart/">
                    <img src="/static/images/shoppingcart.svg" class="nav-icon cart-icon">
                </a>
                <a href="{% url 'logout' %}">
                logout
                </a>
            </div>

        {% else %}
            <div class="nav-right">
            <a href="{% url 'login' %}">
                login
            </a>
            <a href="{% url 'register' %}">
                register
            </a>
            </div>
        {% endif %}
    </nav>
</header>