<header>
    <nav id="navbar">
        <div id="nav-left">
            <a href="/offers">Offers</a>
            <a href="/menu/pizzas">Menu</a>
        </div>
        <div id="nav-center">
            <a href="/">Pizza Lair</a>
        </div>
        {% if user.is_authenticated %}
            <div class="nav-right">
                <a href="/cart/">
                    <img src="/static/images/shoppingcart.svg" class="nav-icon cart-icon non-empty">
                </a>
                {%if user.profile.profile_image == "" %}
                    <a href="{% url 'profile' %}">
                    <img src="/static/images/profile.svg" class="profile-image"/>
                    </a>
                {% else %}
                    <a href="{% url 'profile' %}">
                    <img src="{{ user.profile.profile_image }}" class="profile-image"/>
                    </a>
                </div>
                {% endif %}
        {% else %}
            <div class="nav-right">
                <a href="/cart/">
                    <img src="/static/images/shoppingcart.svg" class="nav-icon cart-icon non-empty">
                </a>
            <a href="{% url 'login' %}">
                <img src="/static/images/profile.svg" class="nav-icon cart-icon">
            </a>
            </div>
        {% endif %}
    </nav>
</header>